{% extends "layout.html" %}
{% block content%}
    <h1>FAQ</h1>
    <div class="content-section">
        <legend>Most Frequently Asked Questions</legend>
        <ul>
            <b><i><li>How to add a user?</li></i></b>
            <p>To add a user please contact your system administartor</p>
            <b><i><li>How to add a patient?</li></i></b>
            <p>Go to your account page and scroll to the bottom then click the "New Patient" button</p>
            <b><i><li>How to add a new session</li></i></b>
            <p>When you click on a patient from your patients' list, you will land on their page where you can find a form to add a new session</p>
        </ul>
    </div>
{% endblock content %}